<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Blog Landscape</title>
</head>
<body>
   <main>
      <div class="header">
         <p><u>Give Feedback</u></p>
      </div>
      <div class="heading">
         <h1><b>HOW WOULD YOU LIKE TO CHECKOUT TODAY?</b></h1>
      </div>
      <div class="components">
         <div class="login">  
            <div class="first">
               <p><b>NIKE/NIKE+MEMBERS</b></p>
               <hr>
            </div>
            <div class="loginSecond">
               <label for="Email">Email</label><br>
               <input type="text" class="userInput"><br><br>
               <label for="Password">Password</label><br>
               <input type="password" class="userInput"><br><br>
               <input type="checkbox" name="check" class="check"><b>Keep me logged in</b>
               <p><u>Forgotten your password?</u></p>
            </div>
            <div>
               <button class="button"><b>MEMBER CHECKOUT</b></button>
            </div>
         </div>
         <div class="guests">
            <div class="first">
               <p><b>GUESTS</b></p>
               <hr>
            </div>
            <div class="guestsSecond">
               <input type="checkbox" name="" class="check"><b>&nbsp Yes, I want FREE delivery</b>
               <p>Join Nike+ and you will get:</p>
               <ul>
                  <li>Free delivery and no-hassie returns on all <br> ordres</li>
                  <li>The latest and greatest gear for you</li>
                  <li>Expert guidence, whatever your goals are</li>
                  <li>Access to workouts and incredible events</li>
               </ul>
            </div>
            <div>
               <button class="button"><b>GUEST CHECKOUT</b></button>
            </div>
         </div>
         <div class="paypal-members">
            <div class="first">
               <p><b>PAYPAL MEMBERS</b></p>
               <hr>
            </div>
            <div class="paySecond">
               <p>Make your payment with PayPal's secure services.</p>
               <p>You'll have a chance to apply promotion codes and/or <br> git cards before you complete your order.</p>
            </div>
            <div>
               <button class="payButton"><b>Check out with</b> &nbsp <img src="https://static-00.iconduck.com/assets.00/paypal-icon-1024x273-h41vdkve.png" alt="PAYPAL"></button>
            </div>
         </div>
      </div>
   </main>
</body>
</html>