h1 {
   text-align: center;
}

.login-footer {
   display: flex;
   justify-content: space-between;
}

.login-footer p {
   font-size: 13px;
   text-decoration: underline;
}

.login-footer p:hover {
   cursor: pointer;
}
